/*sets all elements box-sizing to border-box, *::after and *::before selects the elements which are created by ::after, and ::before pseudo selector */
*, 
*::before,
*::after {
    box-sizing: border-box;
}
/* from real time colors
blue:
--text: #050315;
--background: #fbfbfe;
--primary: #2f27ce;
--secondary: #dedcff;
--accent: #433bff;
*/
* {
    margin: 0px;
    padding: 0px;
    background-color: #fbfbfe;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 {
    margin: 20px;
}
/* styling the div which contains the generated div*/
.drawingArea {
    height: 700px;
    width: 700px;
    background-color: white;
    border: 1px solid #2f27ce;
    /* margin: 0px auto 0px auto; */
    display: flex;
    flex-wrap: wrap;
}
/* arranges the generated div*/
.divPixels {
    flex: 1;
    transition: 80ms;
    border: 1px solid #f0f0fc;
    background-color: #fbfbfe;
}

/* changes color to black */
.divPixelsBlack {
    transition: 80ms;
    background-color: black;
}
